numpy>=1.16
tqdm>=4.35.0 
torch>=1.6.0 
opencv-python>=4.1.2 
moviepy>=1.0.3 
torchvision>=0.7.0
# Pypi package is from 2018, and does not support modern numpy
git+https://github.com/scikit-video/scikit-video.git
